/* These are 3 "universal" styles that I tend to use in all my work. They "Clean the blackboard," so to speak. */
* {
    margin: 0;
    padding: 0;
}

/* This kills all margins and padding. You will need to re-introduce them for some elements. */

body, html {
    width: 100%;
    height: 100%;
}

/* This ensures that you can have "whole window" elements. */

body {
    font-family: Helvetica, Arial, San-Serif;
    font-size: small;
}

/* Set the basic fonts. */

/* I like my links to be a bit "livelier" than most, but, for usability, I stick with the blue/red underline theme. */
a,
a:visited {
    color: #33c;
    text-decoration: underline;
}

a:hover,
a:active {
    color: #c33;
    text-decoration: none;
}

/* These classes ensure that a floated block element is properly sized. */
.clear_both,
#bmlt_tools_address_submit_line .clear_both {
    clear: both;
}

/* This is the main container that surrounds the two forms. */
#bmlt_tools_main_container {
    width: 818px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -409px;
    padding: 8px;
    background-color: #555;
}

/* This is the left-hand (data entry) container. */
#bmlt_tools_main_container #bmlt_tools_address_source_container {
    width: 390px;
    background-color: #ff9;
}

/* This is the right-hand (geocode result) container. */
#bmlt_tools_main_container #bmlt_tools_address_lookup_container {
    width: 400px;
    background-color: #ccc;
    float: right;
    height: 360px;
}

/* This is the title at the top of each container. */
#bmlt_tools_main_container #bmlt_tools_address_source_container h1,
#bmlt_tools_main_container #bmlt_tools_address_lookup_container h1 {
    font-size: medium;
    font-weight: bold;
    background-color: #333;
    color: white;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

/* They each have 4 pixels of padding at the top. */
#bmlt_tools_main_container #bmlt_tools_address_lookup_container,
#bmlt_tools_main_container #bmlt_tools_address_source_container {
    padding-top: 4px;
}

/* Since the background for the transfer link column is dark, we use a lighter link for these. */
#bmlt_tools_main_container #bmlt_tools_address_transfer_container a,
#bmlt_tools_main_container #bmlt_tools_address_transfer_container a:visited {
    color: #ccf;
}

#bmlt_tools_main_container #bmlt_tools_address_transfer_container a:hover,
#bmlt_tools_main_container #bmlt_tools_address_transfer_container a:active {
    color: #f96;
}

/* This is the "transfer all" link at the top of the links column. */
#bmlt_tools_main_container #bmlt_tools_address_transfer_container .one_line_form_all {
    margin-top: 4px;
    height: 30px;
    line-height: 30px;
    background-color: white;
}

/* Its link is a different color from the rest of them. */
#bmlt_tools_main_container #bmlt_tools_address_transfer_container .one_line_form_all a,
#bmlt_tools_main_container #bmlt_tools_address_transfer_container .one_line_form_all a:visited {
    color: #33c;
}

#bmlt_tools_main_container #bmlt_tools_address_transfer_container .one_line_form_all a:hover,
#bmlt_tools_main_container #bmlt_tools_address_transfer_container .one_line_form_all a:active {
    color: #c33;
}

/* All three containers float against each other. */
#bmlt_tools_main_container #bmlt_tools_address_transfer_container,
#bmlt_tools_main_container #bmlt_tools_address_source_container {
    float: left;
}

#bmlt_tools_main_container #bmlt_tools_address_transfer_container {
    margin-left: 2px;
}

/* The arrow links are heavy. */
#bmlt_tools_main_container #bmlt_tools_address_transfer_container,
#bmlt_tools_main_container #bmlt_tools_placemark_count_decrement,
#bmlt_tools_main_container #bmlt_tools_placemark_count_increment {
    font-weight: bold;
}

/* This is the div that contains the multiple results navigation. */
#bmlt_tools_main_container #bmlt_tools_placemark_rotator_controls {
    height: 40px;
    line-height: 40px;
}

/* These three classes describe the layout of the multiple results navigation. */

/* The "decrement" link floats to the left. */
#bmlt_tools_main_container #bmlt_tools_placemark_count_decrement {
    float: left;
    padding-left: 20px;
}

/* The text item is centered between the two arrows. */
#bmlt_tools_main_container #bmlt_tools_placemark_count {
    text-align: center;
}

/* The "increment" link floats to the right. */
#bmlt_tools_main_container #bmlt_tools_placemark_count_increment {
    float: right;
    padding-right: 20px;
}

/* Each of the links inside the column of links. */
#bmlt_tools_main_container #bmlt_tools_address_transfer_container div {
    margin-left: 0;
    width: 24px;
    clear: both;
    text-align: center;
    white-space: nowrap;
}

/* In all three areas, we have lines that contain text items. We want them to line up with each other, so we use the same class for them all. */
#bmlt_tools_main_container .one_line_form {
    clear: both;
    float: none;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: left;
    line-height: 20px;
    vertical-align: middle;
    height: 20px;
}

/* The right and left forms use labels on the left. */
#bmlt_tools_main_container .one_line_form label,
#bmlt_tools_main_container .one_line_form .label {
    font-weight: bold;
    display: block;
    float: left;
    width: 120px;
    text-align: right;
}

/* These are the text items in the left form. */
#bmlt_tools_main_container .one_line_form input {
    width: 246px;
    margin-left: 4px;
    float: left;
}

/* These are for the text divs in the right form. */
#bmlt_tools_main_container .one_line_form div {
    float: left;
    margin-left: 4px;
    margin-right: 4px;
}

/* The longitude/latitude are on one line. Their sizes are different. */
#bmlt_tools_main_container #bmlt_tools_address_long_lat label,
#bmlt_tools_main_container #bmlt_tools_lookup_long_lat_line label,
#bmlt_tools_main_container #bmlt_tools_lookup_long_lat_line .label {
    float: left;
    display: block;
    padding-left: 4px;
    width: 75px;
    font-weight: bold;
    text-align: right;
}

/* These are the text items for each. */
#bmlt_tools_main_container #bmlt_tools_address_long_lat input,
#bmlt_tools_main_container #bmlt_tools_lookup_long_lat_line div {
    float: left;
    width: 100px;
    margin-left: 4px;
}

/* This is the "live" address string item in the left form that reflects the current input. */
#bmlt_tools_main_container #bmlt_tools_address_string {
    height: 60px;
    line-height: 20px;
    width: 242px;
}

/* This is the div that contains the two buttons in the left-hand form. */
#bmlt_tools_main_container #bmlt_tools_address_submit_line,
#bmlt_tools_main_container #bmlt_tools_address_reverse_submit_line {
    clear: both;
    float: none;
    text-align: center;
    padding-bottom: 4px;
    height: 30px;
    line-height: 30px;
}

/* These are the two buttons. */
#bmlt_tools_main_container #bmlt_tools_address_submit_line input,
#bmlt_tools_main_container #bmlt_tools_address_reverse_submit_line input {
    float: none;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

/* This is the Google Maps link in the right-hand form. */
#bmlt_tools_main_container #bmlt_tools_goo_go {
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

/* This is the debug pre element. */
#bmlt_tools_main_container #bmlt_tools_dump_pre {
    clear: both;
    margin-top: 4px;
    padding: 4px;
    background-color: white;
}

/* This is the map display element. */
#bmlt_tools_main_container #bmlt_tools_map_div {
    clear: both;
    margin: 4px;
    height: 802px;
}

/* Debug/Map Checkbox is small. */
#bmlt_tools_main_container #bmlt_tools_map_checkbox,
#bmlt_tools_main_container #bmlt_tools_debug_checkbox {
    width: 20px;
    height: 30px;
    text-align: center;
}

/* The Debug/Map check label is an inline element with no float or predetermined size. */
#bmlt_tools_main_container #bmlt_tools_map_check_label,
#bmlt_tools_main_container #bmlt_tools_debug_check_label {
    color: white;
    display: inline;
    text-align: left;
    width: auto;
    height: 30px;
    line-height: 33px;
    vertical-align: middle;
}

#bmlt_tools_main_container .padding_div {
    height: 60px;
}

#bmlt_tools_main_container .padding_div_2 {
    padding-top: 34px;
}

#bmlt_tools_main_container #bmlt_tools_padding_div_scale {
    text-align: center;
}

#bmlt_tools_main_container #bmlt_tools_accuracy_label {
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    margin-left: 20px;
}

/* This is the gradient that displays the accuracy of the geolocator response */
#bmlt_tools_main_container .bmlt_tools_accuracy_gradient {
    float: left;
    width: 300px;
    height: 10px;
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffc;
    padding-left: 2px;
}

#bmlt_tools_main_container .bmlt_tools_acc_min,
#bmlt_tools_main_container .bmlt_tools_acc_max {
    float: left;
    width: 47px;
    height: 20px;
    line-height: 20px;
    font-size: 9px;
    vertical-align: middle;
}

/* This is the big "NO DATA" in an empty debug area. */
#bmlt_tools_main_container .no_data_span {
    font-weight: bold;
    font-size: large;
    font-style: italic;
    color: #777;
}

/* This is the accuracy indicator that moves around the bar. */
#bmlt_tools_main_container div#bmlt_tools_accuracy_scale {
    width: 4px;
    height: 12px;
    border-color: #555;
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 1px;
    border-right-width: 1px;
    position: relative;
    top: -3px;
}

/* Each line in the gradient is one pixel wide. */
#bmlt_tools_main_container #bmlt_tools_accuracy_gradient .line {
    width: 2px;
    height: 5px;
    margin-top: 5px;
    float: left;
    border-left: 1px solid #555;
}

/* The scale can be hidden. */
#bmlt_tools_main_container div#bmlt_tools_accuracy_scale.accDisabled {
    display: none;
}

/* We use CSS to set the position. There are 10 possible values. */
#bmlt_tools_main_container div#bmlt_tools_accuracy_scale.acc0 {
    left: 0px;
}

#bmlt_tools_main_container div#bmlt_tools_accuracy_scale.acc1 {
    left: 33px;
}

#bmlt_tools_main_container div#bmlt_tools_accuracy_scale.acc2 {
    left: 66px;
}

#bmlt_tools_main_container div#bmlt_tools_accuracy_scale.acc3 {
    left: 99px;
}

#bmlt_tools_main_container div#bmlt_tools_accuracy_scale.acc4 {
    left: 132px;
}

#bmlt_tools_main_container div#bmlt_tools_accuracy_scale.acc5 {
    left: 165px;
}

#bmlt_tools_main_container div#bmlt_tools_accuracy_scale.acc6 {
    left: 198px;
}

#bmlt_tools_main_container div#bmlt_tools_accuracy_scale.acc7 {
    left: 231px;
}

#bmlt_tools_main_container div#bmlt_tools_accuracy_scale.acc8 {
    left: 264px;
}

#bmlt_tools_main_container div#bmlt_tools_accuracy_scale.acc9 {
    left: 297px;
}

#bmlt_tools_main_container #bmlt_tools_where_am_i {
    width: 50%;
    text-align: center;
    float: left;
}